<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>food Table</h1>
  <table>
      <tr>
          <th>delete</th>
          <th>Item</th>
          <th>Cost</th>
          
      </tr>
      <tr>
        {% for result in results %}
        <td>
            <form action="/delete" method="POST">
            <input type="hidden" name="item_name" value="{{result[0]}}">
            <input type="submit" value="delete">
            </form>
          </td>
          <td><rt>{{result[1]}}</td>
          <td>${{result[2]}}</tr></td>
        {% endfor %}
      </tr>
  </table>
  <form action="/add" method="POST">
    <h2>enteR new IteM</h2> <h2>enter new cost</h2>
  <input type="text" name="item_name">
  <input type="text"name="item_cost">
  <input type="submit" value="add">
  </form>
</body>
</html>

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
  
    body {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
    
    td {
      border: 2px solid #000000b7;
      text-align: left;
      padding: 8px;
    }

    th {
      border: 2px solid #000000b7;
      text-align: left;
      padding: 8px;
    }

    tr {
      background-color: #ffffff;
    }
  </style>